<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/auth/index}">Gestão de Eventos</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="nav-link text-white" th:href="@{/eventosOrganizador}">Eventos</a></li>
            <li><a class="nav-link text-white" th:href="@{/eventosOrganizador/bilhetes}">Bilhetes</a></li>
            <li><a class="nav-link text-white" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="nav-link text-white" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container-fluid text-center" >
    <div m-4><h2>Lista de Eventos</h2></div>
    <div class="m-2">
        <br>
        <a m-2 class="h4 styled-link" th:href="@{/eventosOrganizador/newEvento}">Criar Novo Evento</a>
    </div>
    <div class="m-2">
        <a m-2 class="h4 styled-link" th:href="@{/eventosOrganizador/bilhetes}">Ver Bilhetes</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
<br>
    <div m-2 class="container-fluid text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Localização</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Capacidade Máxima</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="eventosOrganizador : ${eventosOrganizador}">
                <td th:text="${eventosOrganizador.nome}"></td>
                <td th:text="${eventosOrganizador.local}"></td>
                <td th:text="${eventosOrganizador.descricao}"></td>
                <td th:text="${eventosOrganizador.data}"></td>
                <td th:text="${eventosOrganizador.capacidade_max + ' pessoas'}"></td>
                <td th:text="${eventosOrganizador.idCategoria.nome}"></td>
                <td>
                    <a class="h4 styled-link" th:href="@{'/eventosOrganizador/edit/' + ${eventosOrganizador.id_evento}}">Editar</a>
                </td>
                <td>
                    <a class="h4 styled-link" th:href="@{'/eventosOrganizador/relatorio/'+ ${eventosOrganizador.id_evento}}">Relatório</a>
                </td>
                <td>
                    <a class="h4 styled-link" th:href="@{'/eventosOrganizador/bilhetesEvento/'+ ${eventosOrganizador.id_evento}}">Bilhetes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    .styled-link {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #2fb6b6;
        border-radius: 5px;
        text-decoration: none;
        color: #2fb6b6;
        font-size: 18px;
        font-weight: bold;
    }
    .styled-link:hover {
        background-color: #8ae1db;
        color: #fff;
    }
    .text-white {
        color: #fff;
    }
</style>

</body>
</html>