<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Bilhetes Comprados</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/app/home}">Gestão de Eventos</a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav ml-auto"> <!-- Utilizando 'ml-auto' para alinhar à direita -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
                <a class="nav-link text-white" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
                <a class="nav-link text-white" th:href="@{/eventos}">Eventos</a>
            </li>

            <!-- Exibir opções específicas para o papel 'ORGANIZADOR' -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
                <a class="nav-link text-white" th:href="@{/eventosOrganizador}">Eventos</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
                <a class="nav-link text-white" th:href="@{/eventosOrganizador/bilhetes}">Bilhetes</a>
            </li>

            <!-- Exibir opções específicas para o papel 'PARTICIPANTE' -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
                <a class="nav-link text-white" th:href="@{/participanteEventos/listaEventos}">Eventos</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
                <a class="nav-link text-white" th:href="@{/participanteEventos/listaBilhetesComprados}">Bilhetes Comprados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/perfil}">Perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container-fluid text-center" >
    <div m-4><h2>Lista de Bilhetes Comprados</h2></div>
<br>
    <div m-2 class="container-fluid text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>Evento</th>
                <th>Tipo de Bilhete</th>
                <th>Preço por Bilhete</th>
                <th>Número de Bilhetes</th>
                <th>Preço Total</th>
                <th>Data da Compra</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="compra : ${compras}">
                <td th:text="${compra.id_user.name}"></td>
                <td th:text="${compra.id_bilhete.id_evento.nome}"></td>
                <td th:text="${compra.id_bilhete.id_tipo_bilhetes.nome}"></td>
                <td th:text="${compra.id_bilhete.precototal}"></td>
                <td th:text="${compra.num_bilhetes}"></td>
                <td th:text="${compra.total_preco}"></td>
                <td th:text="${compra.data_compra}"></td>
            </tbody>
        </table>
    </div>
</div>

<style>

    .text-white {
        color: #fff;
    }
</style>

</body>
</html>