<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Todos os Bilhetes</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="navbar-header">
    <a class="navbar-brand" th:href="@{/app/home}">Gestão de Eventos</a>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav ml-auto"> <!-- Utilizando 'ml-auto' para alinhar à direita -->
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
        <a class="nav-link text-white" th:href="@{/users}">Users</a>
      </li>
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
        <a class="nav-link text-white" th:href="@{/eventos}">Eventos</a>
      </li>

      <!-- Exibir opções específicas para o papel 'ORGANIZADOR' -->
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
        <a class="nav-link text-white" th:href="@{/eventosOrganizador}">Eventos</a>
      </li>
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
        <a class="nav-link text-white" th:href="@{/eventosOrganizador/bilhetes}">Bilhetes</a>
      </li>

      <!-- Exibir opções específicas para o papel 'PARTICIPANTE' -->
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
        <a class="nav-link text-white" th:href="@{/participanteEventos/listaEventos}">Eventos</a>
      </li>
      <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
        <a class="nav-link text-white" th:href="@{/participanteEventos/listaBilhetesComprados}">Bilhetes Comprados</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/app/perfil}">Perfil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/auth/logout}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container-fluid text-center" >
  <div m-4><h2>Lista de Todos os Bilhetes</h2></div>
  <br>

  <div m-2 class="container-fluid text-center">
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Nome do Evento</th>
        <th>Tipo de Bilhetes</th>
        <th>Preço</th>
        <th>Número de Bilhetes Disponibilizados</th>
        <th>Número de Bilhetes Ainda Disponíveis</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="listaBilhetes : ${listaBilhetes}">
        <td th:text="${listaBilhetes.id_evento.nome}"></td>
        <td th:text="${listaBilhetes.id_tipo_bilhetes.nome}"></td>
        <td th:text="${listaBilhetes.precototal + ' €'}"></td>
        <td th:text="${listaBilhetes.num_bilhetes}"></td>
        <td th:text="${listaBilhetes.bilhetes_disp}"></td>
        <td>
          <a class="h4 mr-3 styled-link comprar-bilhete" th:href="@{'/participanteEventos/listaEventos/listaBilhetes/comprarBilhetes/'+ ${listaBilhetes.id_bilhete}}"
             data-id-bilhete="${listaBilhetes.id_bilhete}">Comprar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<style>

  .text-white {
    color: #fff;
  }

  .styled-link {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #2fb6b6;
    border-radius: 5px;
    text-decoration: none;
    color: #2fb6b6;
    font-size: 18px;
    font-weight: bold;
  }
  .styled-link:hover {
    background-color: #8ae1db;
    color: #fff;
  }
</style>

</body>
</html>