<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bem-Vindo!!</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/index}">Gestão de Eventos</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" th:href="@{/users}">UserManagerUsers</a></li>

      <li><a class="nav-link" th:href="@{/eventos}">UserManagerEventos</a></li>

      <li><a class="nav-link" th:href="@{/eventosOrganizador}">OrganizadorEventos</a></li>

      <li><a class="nav-link" th:href="@{/bilhetes}">OrganizadorBilhetes</a></li>

      <li><a class="nav-link" th:href="@{/listaEventos}">ParticipanteEventos</a></li>

      <li><a class="nav-link" th:href="@{/perfil}">Perfil</a></li>

      <li><a class="nav-link" th:href="@{/logout}">Logout</a></li>

    </ul>
  </div>
</nav>


<div style="margin-top: 50px" class="container-fluid text-center">
  <h1>Bem-Vindo!</h1>
</div>
</body>
</html>