<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Utilizadores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/app/home}">Gestão de Eventos</a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav ml-auto"> <!-- Utilizando 'ml-auto' para alinhar à direita -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
                <a class="nav-link text-white" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('MANAGER'))}">
                <a class="nav-link text-white" th:href="@{/eventos}">Eventos</a>
            </li>

            <!-- Exibir opções específicas para o papel 'ORGANIZADOR' -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
                <a class="nav-link text-white" th:href="@{/eventosOrganizador}">Eventos</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('ORGANIZER'))}">
                <a class="nav-link text-white" th:href="@{/eventosOrganizador/bilhetes}">Bilhetes</a>
            </li>

            <!-- Exibir opções específicas para o papel 'PARTICIPANTE' -->
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
                <a class="nav-link text-white" th:href="@{/participanteEventos/listaEventos}">Eventos</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authorities.contains(new org.springframework.security.core.authority.SimpleGrantedAuthority('PARTICIPANT'))}">
                <a class="nav-link text-white" th:href="@{/participanteEventos/listaBilhetesComprados}">Bilhetes Comprados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/app/perfil}">Perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<style>

    .text-white {
        color: #fff;
    }

    .styled-link {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #2fb6b6;
        border-radius: 5px;
        text-decoration: none;
        color: #2fb6b6;
        font-size: 18px;
        font-weight: bold;
    }
    .styled-link:hover {
        background-color: #8ae1db;
        color: #fff;
    }
    .styled-linke {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #d53a3a;
        border-radius: 5px;
        text-decoration: none;
        color: #e84848;
        font-size: 18px;
        font-weight: bold;
    }
    .styled-linke:hover {
        background-color: #ee4545;
        color: #fff;
    }
</style>
<br>
<div class="container-fluid text-center" >
    <div m-4><h2>Lista de Utilizadores</h2></div>
    <div class="m-2">
        <br>
        <a m-2 class="h4 styled-link" th:href="@{/users/newUser}">Adicionar Novo Utilizador</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div th:if="${messagedelete}" class="alert alert-danger text-center">
        [[${messagedelete}]]
    </div>
<br>
    <div m-2 class="container-fluid text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>Nome</th>
                <th>Telemóvel</th>
                <th>Tipo de User</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <p th:if="${users.size() == 0}">Não existem utilizadores registados.</p>
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.userRole}"></td>
                <td>
                    <a class="h4 styled-linke" th:href="@{'/users/delete/' + ${user.id}}">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
